<p id="notice"><%= notice %></p>

<p>
  <strong>Offered on:</strong>
  <%= @customer.offered_on %>
</p>

<p>
  <strong>Sei kana:</strong>
  <%= @customer.sei_kana %>
</p>

<p>
  <strong>Mei kana:</strong>
  <%= @customer.mei_kana %>
</p>

<p>
  <strong>Sei kanji:</strong>
  <%= @customer.sei_kanji %>
</p>

<p>
  <strong>Mei kanji:</strong>
  <%= @customer.mei_kanji %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @customer.identifier %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @customer.tel %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Url:</strong>
  <%= @customer.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @customer.note %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @customer.updated_user %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @customer.updated_at %>
</p>

<p>
  <strong>Created user:</strong>
  <%= @customer.created_user %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @customer.created_at %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
