<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Disp order</th>
      <th>Is active</th>
      <th>Note</th>
      <th>Update user</th>
      <th>Updated at</th>
      <th>Create user</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.disp_order %></td>
      <td><%= account.is_active %></td>
      <td><%= account.note %></td>
      <td><%= account.update_user %></td>
      <td><%= account.updated_at %></td>
      <td><%= account.create_user %></td>
      <td><%= account.created_at %></td>
      <td><%= link_to 'Show', account %></td>
      <td><%= link_to 'Edit', edit_account_path(account) %></td>
      <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
