<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address</th>
      <th>Password</th>
      <th>Delete flg</th>
      <th>Updated user</th>
      <th>Updated at</th>
      <th>Created user</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.user_id %></td>
      <td><%= user.address %></td>
      <td><%= user.password %></td>
      <td><%= user.delete_flg %></td>
      <td><%= user.updated_user %></td>
      <td><%= user.updated_at %></td>
      <td><%= user.created_user %></td>
      <td><%= user.created_at %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>
