<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Delete flg:</strong>
  <%= @user.delete_flg %>
</p>

<p>
  <strong>Updated user:</strong>
  <%= @user.updated_user %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @user.updated_at %>
</p>

<p>
  <strong>Created user:</strong>
  <%= @user.created_user %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @user.created_at %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
