<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @sale.customer_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menu_id) %>:</strong></dt>
  <dd><%= @sale.menu_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attended_on) %>:</strong></dt>
  <dd><%= @sale.attended_on %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @sale.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment) %>:</strong></dt>
  <dd><%= @sale.payment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paid_flg) %>:</strong></dt>
  <dd><%= @sale.paid_flg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @sale.note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deleted_at) %>:</strong></dt>
  <dd><%= @sale.deleted_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:canceled_at) %>:</strong></dt>
  <dd><%= @sale.canceled_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_user) %>:</strong></dt>
  <dd><%= @sale.updated_user %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_user) %>:</strong></dt>
  <dd><%= @sale.created_user %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sales_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sale_path(@sale), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sale_path(@sale),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
